.nfb{background-color:#475566;
padding: 3px 3px 3px 3px;
border-top:solid 1px #000
}
.sp {
margin: 2px 2px 2px 2px;
text-align: center;
padding: 5px 5px 5px 5px;
font-size: 12px;
font-weight:bold;
color: #000;
background:#fff url('duwur.gif')top repeat-x;
border:2px solid #ddd
}
.buttom 
{
background-image: url('oke.gaif');
height: 25px;
background-repeat: repeat-x;
text-align: center;
padding:0 7px 0 7px; color: #ffffff;

}
.tolol { background: #fff; padding: 10px 10px; margin-right:10px; margin-left:10px; 8px 8px;border:1px solid #fff}
.dawar {
background-image: url('duwur.gif');
height: 30px;
border-bottom:2px solid #c2c2c2;
}
.duwur {
background-image: url('duwur.gif');
height: 43px;
border-bottom:2px solid #c2c2c2;
}
.butin { 
margin: 2px;
text-align: center;
padding: 5px;
font-size: 12px;
font-weight:bold;
color: #4099ff;
background:url('login.png')top repeat-x;
border:1px solid #4988e6}

/* Login Container (default to float:right) */
#loginContainer {
    position:relative;
    float:right;
    font-size:12px;
}

/* Login Button */
#loginButton { 
    display:inline-block;
    float:right;
    background:#d2e0ea url(buttonbg.png) repeat-x; 
    border:1px solid #899caa; 
    border-radius:3px;
    -moz-border-radius:3px;
    position:relative;
    z-index:30;
    cursor:pointer;
}

/* Login Button Text */
#loginButton span {
    color:#445058; 
    font-size:14px; 
    font-weight:bold; 
    text-shadow:1px 1px #fff; 
    padding:7px 29px 9px 10px;
    background:url(loginArrow.png) no-repeat 53px 7px;
    display:block
}

#loginButton:hover {
    background:url(buttonbgHover.png) repeat-x;
}

/* Login Box */
#loginBox {
    position:absolute;
    top:34px;
    right:0;
    display:none;
    z-index:29;
}

/* If the Login Button has been clicked */    
#loginButton.active {
    border-radius:3px 3px 0 0;
}

#loginButton.active span {
    background-position:53px -76px;
}

/* A Line added to overlap the border */
#loginButton.active em {
    position:absolute;
    width:100%;
    height:1px;
    background:#d2e0ea;
    bottom:-1px;
}

/* Login Form */
#loginForm {
    width:248px; 
    border:1px solid #899caa;
    border-radius:3px 0 3px 3px;
    -moz-border-radius:3px 0 3px 3px;
    margin-top:-1px;
    background:#d2e0ea;
    padding:6px;
}

#loginForm fieldset {
    margin:0 0 12px 0;
    display:block;
    border:0;
    padding:0;
}

fieldset#body {
    background:#fff;
    border-radius:3px;
    -moz-border-radius:3px;
    padding:10px 13px;
    margin:0;
}

#loginForm #checkbox {
    width:auto;
    margin:1px 9px 0 0;
    float:left;
    padding:0;
    border:0;
    *margin:-3px 9px 0 0; /* IE7 Fix */
}

#body label {
    color:#3a454d;
    margin:9px 0 0 0;
    display:block;
    float:left;
}

#loginForm #body fieldset label {
    display:block;
    float:none;
    margin:0 0 6px 0;
}

.noti_bubble {
top: -8px;
right:-6px; padding-right:2px;
background-color:red;
color:white;
height:16px; width:16px;
font-size:0.80em; border-radius:0px;
box-shadow:1px 1px 1px gray;
}
tur { background: #fff; padding: 3px 3px; margin-right:3px; margin-left:3px; 4px 4px;border-bottom:3px }
#myMenu {
height:10px;
border:#999 0px dashed;
width: 0px;
font-family: Arial, Helvetica, sans-serif;
font-size:16px; }
#myMenu div {
float:left;
}
#myMenu div ul { display: none;
position: absolute;
list-style-type:none;
background-color: #4988e6;
border: #666 1px solid;
top: 60px; padding: 0px;
}
#myMenu div:hover ul {
display: block;
font-size:12px;
} #myMenu div ul li a {
display: block;
width: 250px;
background: #F0F0F0;
margin: 1px;
text-align: left; 
padding: 1px; text-decoration: none;
color:#000;
}
#myMenu div ul li a:hover {
background: #FFEFB7;
color:#960; }

.udel { font-weight: 700; width: 100px; height: 100px; margin:-40px 0-100px 20px;padding: 2px}
.bubur {
   position: relative;
   padding: 10px;
   border: 1px solid #ADE8E6;
   background: #ADE8E6;    -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   margin-bottom: 2px;
}
.bubur:before {
    content: "";
    position: absolute;
    top: 10%;
    left: -15px;     border-style: solid;
    border-width: 10px 15px 10px 0px;
    border-color: transparent #ADE8E6;
    display: block;
    width: 0;
    z-index: 0; }
.bubur:after {
    content: "";
    position: absolute;
    top: 10%;
    left: -15px;     border-style: solid;
    border-width: 10px 18px 10px 0px;
    border-color: transparent #ADE8E6;
    display: block;
    width: 0;
    z-index: 1; }
.bubble {
  position: relative;
  background-color:#000;
  margin: 0;
  padding:10px;
  text-align:left ;
  font-weight:bold;
color: #fff;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  -webkit-box-shadow: 0px 0 3px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 0 3px rgba(0,0,0,0.25);
  box-shadow: 0px 0 3px rgba(0,0,0,0.25); }
.bubble:after {
  position: absolute;
  display: block;
  content: "";
  border-color: #000 transparent transparent transparent;
  border-style: solid;
  border-width: 10px;
  height:0;
  width:0;
  position:absolute;   bottom:-19px;
  left:1em;
}

.bodong { background:#4099ff;border-bottom:4px solid #000; color:#888;height: 200px;margin:0; padding:1px}
.logen{
   height:18px;
   width:90%;
   margin:2px 8px 2px 2px;
   padding:5px;    border-radius:5px;
   background:url(login.png) bottom repeat-x;
   box-shadow:inset 0 2px 6px #ddd;
font-weight:bold;
color: #4099ff;
  border:1px solid #4988e6
}
.icc{
   margin:2px 1px 0 4px;
   padding:5px 5px 5px 5px;
   background:#ddd;
   border-top:4px solid #000;    border-left:4px solid #000;
   border-right:4px solid #000;
   font-weight:700;
   color:#000;
   border-top-left-radius:5px;
   border-top-right-radius:5px;
}
.wwe{
   margin:2px 2px -5px 2px;
   padding:5px;font-weight:700;display:
   inline-block;
}
.ps {
margin: 2px 2px 2px 2px;
text-align: center;
padding: 5px 5px 5px 5px;
font-size: 12px;
font-weight:bold;
color: #fff;
background:#555 url('ps.png')top repeat-x;
border:1px solid #000
}
.em{
margin: 1px;
text-align: left;
padding: 7px 3px;
font-size: 12px;
font-weight:normal;
color: #000;
background:#fff;
border:1px solid #efebef
}
.me{
margin: 1px;
text-align: left;
padding: 3px 3px;
font-size: 16px;
font-weight: bold;
color: #733818;
background:#fff url('ut.png') top repeat-x ;
border:1px solid #ddd
}
.mem{
margin: 2px;
text-align: left;
padding: 7px 3px;
font-size: 16px;
font-weight: bold;
color: #09f;
background: url('w.png') left repeat-y ;
border:1px solid #ddd
}
.login{height:18px;width:300px;margin:2px 6px 2px 2px;padding:5px;border:1px solid #C71585;background:#fff;
}
.go a{display:block ;margin:0px;padding:6px 4px
}
.go{margin: 0px;text-align: left;padding: 3px 2px;font-size: 9px;font-weight:small;color: #000;background:#e7e3e7
}
.lg{
   margin:2px;
   text-align:left;
   padding:5px 3px;
   font-size:12px;    
font-weight:400;
   color:#000;
   background:url(lg.png)bottom repeat-x;
   border:1px solid #eee;
}
.kompo{
   margin:0;
   padding:1px;
   background: #525252;
   border-bottom:4px solid #000;    color:#fff;
}
.anjinglu{
   margin:0;
   padding:1px;
   background:#4099ff url('kon.png');
   border-bottom:0px solid #4C6A12;    color:#fff;
}
.xl {margin:0px:padding:0px ;width:100%}
.w a{margin:0px;padding:3px;display:block;text-align:center;font-weight:bold}
.to { background: #EEE8AA; padding: 3px 3px; margin-right:3px; margin-left:3px; 4px 4px;border:1px solid #808080}

.ms{margin:2px 2px 2px 2px;padding:2px}
.t { background: #ddd; padding: 2px 3px; margin2px 2px 2px 2px;border-bottom:2px }
.tai { background: #c7ccc6; padding: 2px 3px; margin1px 2px 1px 2px;border-bottom:1px solid #4099ff}
.tu { background: #fff; padding: 3px 3px; margin-right:3px; margin-left:3px; 4px 4px;border:1px solid #808080}
.ngaceng { background: #eee; padding: 3px 3px; margin-right:3px; margin-left:3px; 4px 4px;border:1px solid #808080}
.m_messaging_compose form textarea.m_messaging_body{margin-top:5px;padding:0;width:98%}
.mobile-login-field{width:98%}
.commentsicon{margin-right:5px}
.square_thumbnail{width:50px;height:50px;margin:2px;display:inline-block;overflow:hidden}
.touch .square_thumbnail{width:72px;height:72px;margin:3px}
.async_elem_saving .async_opacity, .async_opacity #body{opacity:.75}
.mCount{background:#d8dfea;color:#4099ff;font-weight:bold;padding:0 2px 2px 3px}
.acw{background:#fff url('em.png')top repeat-x}
.acbk{background-color:#000}
.acb{background-color:#4099ff}
.aclb{background-color:#FFC0CB}
.acnb{background-color:#4988e6}
.acg{background-color:#4099ff}
.acy{background-color:#fffbe2}
.acr{background-color:#ffebe8}
.aps{padding:2px 3px}
.apm{padding:4px 3px}
.apl{padding:6px 3px}
.fcb{color:#000}
.fcg{color:#808080}
.fcw{color:#fff}
.fcl{color:#4099ff}
.fcs{color:#6d84b4}
.mfsxs{font-size:x-small}
.mfss{font-size:small}
body,tr,input,textarea,.mfsm{font-size:medium}
.mfsl{font-size:large}
.composerIcon{padding:0 3px 2px;vertical-align:middle}
.composerClosed .composerInput{height:30px ;width:100% ;margin-bottom:7px}
#composer_form{display:block}
.post_placeholder .async_throbber{visibility:visible;display:block;margin:auto}
.async_composer .post_placeholder{display:none}
.composer{position:relative}
.composer .mask{position:absolute;top:0;bottom:0;left:0;right:0}
.abt{border-top:2px solid}
.abb{border-bottom:2px solid}
.acw{border-color:#e9e9e9}
.acb{border-color:#4988e6}
.acnb{border-color:#4f69a0}
.aclb{border-color:#d8dfea}
.acg{border-color: #4099ff}
.acy{border-color:#e2c822}
.acr{border-color:#dd3c10}
.row{border-bottom:1px solid #fff}
.sarow{border-bottom:1px solid #ddd}
.ufi{border-bottom:1px solid #fff}
.nub{border-bottom:1px solid #d6ddeb}
form{margin:0;border:0}
.comboInput td{vertical-align:top}
.comboInput .inputCell{width:98%;padding-right:10px}
.comboInput .input{display:block;width:98%}
.input{border:solid 1px #999;border-top-color:#888;margin:0;padding:3px}
.btn {
margin: 2px 2px 2px 2px;
text-align: center;
padding: 5px 5px 5px 5px;
font-size: 12px;
font-weight:bold;
color: #000;
background:#555 url('ps.png')top repeat-x;
border:1px solid #000
}
.btnC {
margin: 2px 2px 2px 2px;
text-align: center;
padding: 5px 5px 5px 5px;
font-size: 12px;
font-weight:bold;
color: #000;
background:#555 url('ps.png')top repeat-x;
border:1px solid #000
}
.btnS {
margin: 2px 2px 2px 2px;
text-align: center;
padding: 5px 5px 5px 5px;
font-size: 12px;
font-weight:bold;
color: #000;
background:#555 url('ps.png')top repeat-x;
border:1px solid #000
}
.btnN {
margin: 2px 2px 2px 2px;
text-align: center;
padding: 5px 5px 5px 5px;
font-size: 12px;
font-weight:bold;
color: #000;
background:#555 url('ps.png')top repeat-x;
border:1px solid #000
}
.btnF{display:inline}
.touch .btn.btnHL{min-width:45px;padding:4px 12px 4px}
.touch .btn.btnHL .img{margin:0}
.touch .btn.btnHL input{display:none}
label.btn input{background:none;border:none;margin:0;color:#333}
label.btnC input,
label.btnS input,
label.btnN input{color:#fff}
.ibtn{border:2px #999 solid;border-bottom-color:#888;border-top-color:#aaa;padding:2px 6px 3px}
.ibtnD{background:#e4e4e3;color:#000}
.ibtnC{background:#5b74a8;color:#fff}
.ibtnS{background:#d2e5ca;color:#4b7838}
.ibtnN{background:#ee3f10;color:#fff}
.participant{font-weight:bold}
.unread{padding-left:1px;border-left:2px solid #a8b2ce}
a:link, a:visited{color:#1E90FF;text-decoration:none}
#root a.sub:link, #root a.sub:visited{color:#808080}
#root a.sec:link, #root a.sec:visited{color:#DB7093}
#root a.inv:link, #root a.inv:visited{color:#fff}
#root a.sub:focus, #root a.sub:hover,
#root a.sec:focus, #root a.sec:hover{color:#DB7093}
#root a.inv:focus, #root a.inv:hover{color:#4099ff;background-color:#fff}
a:focus,a:hover{color:#fff;background-color:#4099ff}
.ai{border:1px solid #d0d0d0;display:inline-block;margin-right:3px;padding:2px;vertical-align:top}
.ai .img{background:#eceff5}
.ail{margin-right:0}
.fpp{display:inline-block;margin-right:1px;margin-bottom:1px}
img{border:0;vertical-align:top}
.noMedia{border-left:2px solid #ccc;padding-left:4px}
.attachment{margin-top:2px}
.touch .del_area{max-height:1000px;-webkit-transition:all .3s ease-out}
.touch .del_area.async_del_saving{-webkit-transform:translateX(-200%);overflow:hidden;max-height:0;margin-bottom:0;margin-top:0;padding-bottom:0;padding-top:0;border-top:0;border-bottom:0}
.ib{position:relative}
.ib .l{display:block;float:left;margin-right:4px}
.ib .c{display:table-cell}
.ib .ext{float:right}
.clear{clear:both}
.profpic{background:#eceff5}
.al{background-color:#F08080;border-top:solid 1px #C71585}
body{margin:0;padding:0}
body, tr, input, textarea{font-family:sans-serif}
small{color:#555}
.marquee{padding-bottom:1px}
.marquee a{padding:2px 4px 2px}
.marquee_tab_select{color:#fff;background-color:#4988e6;display:inline-block}
#title,.section_title{font-weight:bold;color:#333}
.inline_button{vertical-align:top;margin-left:5px}
.note{background-color:#f7f7f7;border-top:1px solid #4099ff;border-bottom:1px solid #ccc}
.likethumbicon{margin-right:3px;vertical-align:baseline}
.page-nav .selected{font-weight:bold}
ul{margin:0;padding-left:20px}
.lr{width:100%}
.lr .r{text-align:right}
.bmenu, .phdr, .menu_razd, .tmn, .foot {background-color:#d8dfea;border-top:solid 1px #4099ff;padding:2px 3px}
.foot a:hover, .lol a:hover {
text-decoration : none;
border-bottom : 1px dotted #c6b6c0;}
.notif {
padding : 4px 3px;
background-color: #eceff5;
border-bottom: 1px solid #d8dfea;}
.notif2{background-color:#FFC0CB;font-size:small}
.b, .list1, .list2, .menu, .gmenu {border-bottom:solid 1px;border-top:solid 1px;border-color:#e9e9e9;padding:6px 3px}
.p_t { background: #d8d6ff;
text-align: left;
padding: 2px;
margin: 2px;
font-size: 11px;
border-top: 1px #97acfb solid; color: #2b4e01;}
.p_m, .aut, .title {border-top:solid 1px;border-bottom:solid 1px;border-color:#e2c822;padding:4px 3px}
.status{color:#ff0000;font-size : small;border-top:1px dotted #b5a3ad;border-bottom:1px dotted #b5a3ad}
.p_t a:hover { color: #ebfad9; border-bottom: 1px #cc3333 solid;}
.tahu { background: #eee; padding: 3px 3px; margin-right:3px; margin-left:3px; 4px 4px;  border-bottom:1px solid #808080; border-left:1px solid #808080; border-right:1px solid #808080
}
.cit, .quote{
border-left : 4px solid #c1c1c1;
color : #878787;
font-size : x-small;
padding : 2px 0 2px 4px;
margin-left : 2px;}
.msgf{background-color:#fff8cc;
font-size : small;
padding:2px 3px;
border-bottom:1px solid #FFE222;}
.msg{background-color:#4099ff;
font-size : small;
padding:2px 3px;
border-bottom:1px solid #fff;color:white}
.msg2 { margin: 1px 0px 3px 0px;
border-bottom: 1px #16aa32 solid;
border-top: 1px #16aa32 solid;
background: #FFEEEE;
padding: 3px;
color: #ff0000;
font-size: 8px;
font-weight: normal;
text-align: left;}
.str { margin: 1px;
text-align: left;
font-weight: normal;
color: #2b4e01;
border: 1px #EEEEEE solid;
background-color: #FFEEEE;}
.error{background-color:#ffebe8;border:1px solid #DD3C10}
.errr { margin: 1px 0px 3px 0px;
border-bottom: 1px #aa1655 solid;
border-top: 1px #aa1655 solid;
background: #FFEEEE;
padding: 3px;
color: #000099;
font-size: 8px;
font-weight: normal;
text-align: left;}
.err {
border-bottom:solid 1px;
background-color:#ffebe8;
padding:2px 3px;}
.on {color: #006E00;}
.off {color: #FF0000;}
.border_top{border-top:1px solid #ccc}
.border_bottom{border-bottom:1px solid #ccc}
.border_top_light{border-top:1px solid #eee}
.border_bottom_light{border-bottom:1px solid #eee}
.separator{padding:1px 0}
small{color:#555}
.icon48 { font-size: large; width: 27px;
height: 36px;
vertical-align: top;
text-align: left;
margin-left:-2px;margin-right:2px}

.cit_1 { margin-left: 20px;
margin-bottom:0;
border-style:solid;
border-color:transparent  transparent #ADE8E6
transparent ;
border-width:0 10px 10px 0; height: 0px;
width:0px;
}
.cit_2 { margin: 3px;
margin-top: 0;
border:#ADE8E6 2px solid;
padding: 5px;
color: #000;
background-color: #ADE8E6; -o-border-radius: 10px;
border-radius: 10px;
-moz-border-radius: 10px;
word-wrap:break-word;}

.icon14{ font-size: xx-small; width: 14px;
height: 14px;
vertical-align: top;
text-align: left;}
.textarea2:hover
{background: #fff;
border: 1px solid #a1c478;
padding: 1px;
margin: 1px 1px 1px 2px;
color: #ff0000;}
.cit { font-size: xx-small; background: #FFFFFF url('cit.gif') repeat-y scroll left;
padding-left: 18px;
padding-right: 3px;
margin: 5px;
border: 1px #9291C7 solid;
color: #444444;
font-style: italic;}
form1 {margin:1px; padding:0px;}
.ank_n { color: #000099; font-weight: normal;
padding: 1px;
margin: 1px 1px 1px 2px;}
.frend_n { color: #ffffff; font-weight: normal;
padding: 1px;
margin: 1px 1px 1px 2px;}
.me_n { color: #4988e6; font-weight: normal;
padding: 1px;
margin: 1px 1px 1px 2px;}
.ank_d { color: #000099; font-style: italic;}
.status { color: #524383; font-weight: bold;}
.post {margin:0px:padding:0px ;width:100%}
.iwan {background:#4099ff;border-bottom:2px solid #4099ff;font-size:small;color:#ffe}
.togol {background:#C71585;border-bottom:25px solid #C71585;font-size:small;color:#ffe}
.abbr,.fcg,.small{color:gray;}
.togo {background:#000;border-bottom:4px solid #000;font-size:small;color:#ffe}
.togog {background:#4099ff;border-bottom:10px solid #4099ff;font-size:small;color:#ffe}

.anto { background:#F08080 url('anto.png')top repeat-x; padding:4px 2px 2px 2px; margin:0px ;border-bottom:0px solid #048e27}

.depan {background:#4988e6;border:3px solid #4099ff;font-size:small;padding-bottom: 0px;color:#ffa;text-align:center}

.ts { height:30px; width:94%; margin:2px 8px 2px 2px; padding:5px; border-radius:5px; background: #fff url(login.png) bottom repeat-x;
box-shadow:inset 0 2px 6px #ddd;
border:1px solid #000;
}